.character__item {
    margin: 0.8%;
    width: 300px;
    filter: contrast(0.8);
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.character__img {

    width: 300px;
    transition-duration: 0.5s;
    filter: grayscale(100%);
    transform: scale(1);
}

.character__img:hover {
    transform: scale(1.05);
    filter: none
}

.character__overflow {
    overflow: hidden;
}

.character__row {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
}

.character__frame {
    pointer-events: none;
    width: 106%;
    height: 105%;
    position: absolute;
    top: -3%;
    left: -3%;
}