.character__item {
    margin: 0.8%;
    width: 250px;
    filter: contrast(0.8);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    filter: grayscale(60%);
    border: 8px rgb(206, 21, 0) solid;
border-radius: 6px;
}

.character__img {

    width: 234px;
    transition-duration: 0.5s;
    
    transform: scale(1);
}

.character__item:hover {
    transform: scale(1.05);
    filter: none
}

.character__overflow {
    overflow: hidden;
}

.character__row {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
}

.character__frame {
    pointer-events: none;
    width: 106%;
    height: 105%;
    position: absolute;
    top: -3%;
    left: -3%;
}